menu "Sub Module2 Configuration"
    config SubModule2
        bool "SubModule2"

    choice
        prompt "Feature selection"

        config Sub2_Feature1 
            bool "Sub2_Feature1" if SubModule2
            help
                "This is the first feature"
        config Sub2_Feature2
            bool "Sub2_Feature1" if SubModule2
            help
                "This is the second feature"
    endchoice
endmenu