menu "Sub Module Configuration"
    config SUBMODULE
        bool "Enable Sub Module"
        default n
        help
            Enable Sub Module
            
    config MODULES
        prompt "Enable Modules"
        def_bool y
        option modules

    choice
        prompt "Sub Feature selection"

        config Sub_Feature1
            tristate "Sub_Feature1"
        config Sub_Feature2
            tristate "Sub_Feature2"
    endchoice
endmenu