menu "Sub Module Configuration"
    config MODULES
        prompt "Enable Modules"
        def_bool y
        option modules

    choice
        prompt "2 Feature selection"

        config Sub11_Fe1ature1
            tristate "Sub11_Feature 1"
        config Sub11_Fe1ature2
            tristate "Sub11_Feature 2"
    endchoice
endmenu