menu "Sub Module Configuration"
    config SUBMODULE
        bool "Enable Sub Module"
        default n
        help
            Enable Sub Module

    choice
        prompt "Sub Feature selection" if SUBMODULE

        config Sub_Feature1
            bool "Sub_Feature1"
        config Sub_Feature2
            bool "Sub_Feature2"
    endchoice
endmenu