menu "New Module2 Configuration"
    config NewModule2
        bool "NewModule2"

    if NewModule2
        choice
            prompt "Feature selection"

            config Feature11
                bool "Feature 11"
                help
                    "This is the first feature"
            config Feature22
                bool "Feature 22"
                help
                    "This is the second feature"
        endchoice
    endif
    rsource "*/Kconfig"
endmenu