menu "New Module Configuration"
    config NewModule
        tristate "NewModule"

    choice
        prompt "Feature selection" if NewModule

        config Feature1
            bool "Feature 1"
            help
                "This is the first feature"
        config Feature2
            bool "Feature 2"
            help
                "This is the second feature"
    endchoice
    rsource "*/Kconfig"
endmenu